# bazel
/bazel-*
/user.bazelrc
*.bazel.lock

# https://github.com/hedronvision/bazel-compile-commands-extractor
/compile_commands.json
/external

# clangd
/.cache/

# ecsact codegen
*.ecsact.*

# Distribution files
/dist/*

# MSIX distribution folder
!/dist/AppxManifest.xml
*.msix
*.zip

# Debian distribution
!/dist/DEBIAN
*.deb
*.tar.gz
